:root {
  $light-text: rgb(199, 199, 199) !default;
  $dark-text: rgb(59, 59, 59) !default;
  $thin-text-weight: 200 !default;
  $regular-text-weight: 400 !default;
  $bold-text-weight: 700 !default;
  $background-color: rgb(18, 18, 18) !default;
  $violet: rgb(94, 0, 188) !default;
}